PANDAS DATAFRAME PREPARATION
Topics:
- upoading table;
- indexing dataframe rows;
- handling null values;
- string cleaning;
- data type modification;

In this short tutorial we used data on countries of the world data table, obtained from: https://www.kaggle.com/datasets/fernandol/countries-of-the-world .

First, we will import data from csv file. Since the fisrst column is unique and contains country names we will set it as index with index_col argument.

In [1]:
import pandas as pd, numpy as np
df=pd.read_csv('countries of the world.csv', index_col=0)

Then we will check for null values, and replace them with 0.

In [2]:
#handling null values
print(df.isna().sum()) #number of missing values per row
df.fillna(0, inplace=True) #replace missing with 0
df.isna().sum()

Region                                 0
Population                             0
Area (sq. mi.)                         0
Pop. Density (per sq. mi.)             0
Coastline (coast/area ratio)           0
Net migration                          3
Infant mortality (per 1000 births)     3
GDP ($ per capita)                     1
Literacy (%)                          18
Phones (per 1000)                      4
Arable (%)                             2
Crops (%)                              2
Other (%)                              2
Climate                               22
Birthrate                              3
Deathrate                              4
Agriculture                           15
Industry                              16
Service                               15
dtype: int64

Region                                0
Population                            0
Area (sq. mi.)                        0
Pop. Density (per sq. mi.)            0
Coastline (coast/area ratio)          0
Net migration                         0
Infant mortality (per 1000 births)    0
GDP ($ per capita)                    0
Literacy (%)                          0
Phones (per 1000)                     0
Arable (%)                            0
Crops (%)                             0
Other (%)                             0
Climate                               0
Birthrate                             0
Deathrate                             0
Agriculture                           0
Industry                              0
Service                               0
dtype: int64

Next we want to check if data is in correct form. To get the big picture of the data we will preview it with head() method. This will print the first 5 rows of our data.

In [3]:
df.head()

,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
Country,,,,,,,,,,,,,,,,,,,
Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",0,0,0
Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",0,0,0

The indexes and region column are in string form. We want to examine their values so we will print them out. We will print all the indexes, since they are unique for every row, and only unique values of region. 

Both contain trailing spaces, so we will need to trim them.

In [4]:
print(df.index)
print(np.unique(df.Region))

Index(['Afghanistan ', 'Albania ', 'Algeria ', 'American Samoa ', 'Andorra ',
       'Angola ', 'Anguilla ', 'Antigua & Barbuda ', 'Argentina ', 'Armenia ',
       ...
       'Vanuatu ', 'Venezuela ', 'Vietnam ', 'Virgin Islands ',
       'Wallis and Futuna ', 'West Bank ', 'Western Sahara ', 'Yemen ',
       'Zambia ', 'Zimbabwe '],
      dtype='object', name='Country', length=227)
['ASIA (EX. NEAR EAST)         ' 'BALTICS                            '
 'C.W. OF IND. STATES ' 'EASTERN EUROPE                     '
 'LATIN AMER. & CARIB    ' 'NEAR EAST                          '
 'NORTHERN AFRICA                    '
 'NORTHERN AMERICA                   '
 'OCEANIA                            '
 'SUB-SAHARAN AFRICA                 '
 'WESTERN EUROPE                     ']

In [5]:
df.index=df.index.str.strip()
df.Region=df.Region.str.strip()
print(df.index)
print(np.unique(df.Region))

Index(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua & Barbuda', 'Argentina', 'Armenia',
       ...
       'Vanuatu', 'Venezuela', 'Vietnam', 'Virgin Islands',
       'Wallis and Futuna', 'West Bank', 'Western Sahara', 'Yemen', 'Zambia',
       'Zimbabwe'],
      dtype='object', name='Country', length=227)
['ASIA (EX. NEAR EAST)' 'BALTICS' 'C.W. OF IND. STATES' 'EASTERN EUROPE'
 'LATIN AMER. & CARIB' 'NEAR EAST' 'NORTHERN AFRICA' 'NORTHERN AMERICA'
 'OCEANIA' 'SUB-SAHARAN AFRICA' 'WESTERN EUROPE']

Next, we want to check the data type of our columns. We expect object data type for Region and Climate. Climate column contains numeric codes for 5 clymate types. For others we expect integer and float data type.

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 227 entries, Afghanistan to Zimbabwe
Data columns (total 19 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Region                              227 non-null    object
 1   Population                          227 non-null    int64
 2   Area (sq. mi.)                      227 non-null    int64
 3   Pop. Density (per sq. mi.)          227 non-null    object
 4   Coastline (coast/area ratio)        227 non-null    object
 5   Net migration                       227 non-null    object
 6   Infant mortality (per 1000 births)  227 non-null    object
 7   GDP ($ per capita)                  227 non-null    float64
 8   Literacy (%)                        227 non-null    object
 9   Phones (per 1000)                   227 non-null    object
 10  Arable (%)                          227 non-null    object
 11  Crops (%)                           227 non-null    object
 12  Other (%)                           227 non-null    object
 13  Climate                             227 non-null    object
 14  Birthrate                           227 non-null    object
 15  Deathrate                           227 non-null    object
 16  Agriculture                         227 non-null    object
 17  Industry                            227 non-null    object
 18  Service                             227 non-null    object
dtypes: float64(1), int64(2), object(16)
memory usage: 35.5+ KB

After checking data types with .info() method we foud out most columns are object data types and wee need to convert them. In the preview above we can see, that there is comma instead of decimal point. Before converting to float we need to replace it.

In [7]:
columns= ['Pop. Density (per sq. mi.)', 'Coastline (coast/area ratio)', 'Net migration','Infant mortality (per 1000 births)', 'Literacy (%)','Phones (per 1000)', 'Arable (%)',
        'Crops (%)', 'Other (%)', 'Birthrate','Deathrate','Agriculture', 'Industry', 'Service']
for column in df[columns]:
    df[column]=df[column].str.replace(',','.')

df[columns]=df[columns].apply(pd.to_numeric)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 227 entries, Afghanistan to Zimbabwe
Data columns (total 19 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Region                              227 non-null    object
 1   Population                          227 non-null    int64
 2   Area (sq. mi.)                      227 non-null    int64
 3   Pop. Density (per sq. mi.)          227 non-null    float64
 4   Coastline (coast/area ratio)        227 non-null    float64
 5   Net migration                       224 non-null    float64
 6   Infant mortality (per 1000 births)  224 non-null    float64
 7   GDP ($ per capita)                  227 non-null    float64
 8   Literacy (%)                        209 non-null    float64
 9   Phones (per 1000)                   223 non-null    float64
 10  Arable (%)                          225 non-null    float64
 11  Crops (%)                           225 non-null    float64
 12  Other (%)                           225 non-null    float64
 13  Climate                             227 non-null    object
 14  Birthrate                           224 non-null    float64
 15  Deathrate                           223 non-null    float64
 16  Agriculture                         212 non-null    float64
 17  Industry                            211 non-null    float64
 18  Service                             212 non-null    float64
dtypes: float64(15), int64(2), object(2)
memory usage: 35.5+ KB

GDP column is in float datatype, but from the preview it looks like it doesn't decimal point is redundant and should be an intiger. Before converting e should confirm none of the values have decimals. We can do that with calculating module of division with 1: in the case of whole numbers the modlue will be 0, while for decimal number the module will be a number after the decimal point.

In [9]:
#check for GDP
modula=df['GDP ($ per capita)']%1
modula.sum()

0.0

In [10]:
df['GDP ($ per capita)']=df['GDP ($ per capita)'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 227 entries, Afghanistan to Zimbabwe
Data columns (total 19 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Region                              227 non-null    object
 1   Population                          227 non-null    int64
 2   Area (sq. mi.)                      227 non-null    int64
 3   Pop. Density (per sq. mi.)          227 non-null    float64
 4   Coastline (coast/area ratio)        227 non-null    float64
 5   Net migration                       224 non-null    float64
 6   Infant mortality (per 1000 births)  224 non-null    float64
 7   GDP ($ per capita)                  227 non-null    int32
 8   Literacy (%)                        209 non-null    float64
 9   Phones (per 1000)                   223 non-null    float64
 10  Arable (%)                          225 non-null    float64
 11  Crops (%)                           225 non-null    float64
 12  Other (%)                           225 non-null    float64
 13  Climate                             227 non-null    object
 14  Birthrate                           224 non-null    float64
 15  Deathrate                           223 non-null    float64
 16  Agriculture                         212 non-null    float64
 17  Industry                            211 non-null    float64
 18  Service                             212 non-null    float64
dtypes: float64(14), int32(1), int64(2), object(2)
memory usage: 34.6+ KB